p {
  font-size: 17px;
  font-family: "Korolev-Medium", sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, button, a {
  font-family: "Korolev-Medium", sans-serif;
}

h2 {
  text-align: center;
  margin-top: 76px;
  padding: 14px;
  color: rgb(55, 55, 55);
  border-bottom: solid 4px rgb(255, 170, 55);
}

hr {
  border-top: 1px solid #f9f9f9;
  margin: 20px 0;
}

.application-container {
  position: relative;
  width: 100%;
  height: 125px;
  overflow: hidden;
  background: #548;
  background-size: cover;
}

.application-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.application-content {
  padding-top: 25px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.container-text {
  padding: 2%;
}

.row {
  padding-top:15px;
}

.app {
  margin-bottom: 15px;
  box-shadow: 0px 3px 4px #E0E0E0;
  padding: 10px;
  min-height: 150px;
  background-color: white;
}
